-e .
# Requirements for testing and coverage reporting
coverage[toml]==6.4.2
coveralls==3.3.1
pytest==7.1.2
pytest-cov==3.0.0
gitpython>=3
pre-commit==2.20.0


# Requirements for docs building
-r docs/requirements-doc.txt
